fastapi[standard]
pymupdf
chromadb
sentence_transformers
pandas
langchain_chroma
langchain_ollama
embeddings
whisper
pyaudio
pyttsx3
pvporcupine
numpy
pyautogui
keyboard
playwright
psutil
winotify
piper-tts
pystray
pyinstaller